:root {
    --dark:2d3273;
    -light:009cea;
    --h1-font-size: larger;
    --h1-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --h1-text-decoration: (var)
    }
    
    header { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1%;
            background-color: #2d3273;
            color: 009eca;
            min-width: margin 10px;
    }
    
    nav ul {
        display: flex;
        justify-content: right;
        content: inherit;
        padding: 20px;
        word-spacing: 10%;
        border-top-right-radius: 1;
        border-bottom-left-radius: 1;
        min-width: 20px;
      }
      
      nav a {
        flex-direction: column;
        display:block;
        flood-color:var(--dark)
        margin-block-color var(light)
        text-decoration var(--navlink-color);
        text-align: right;
     }
    
    header {
    font-size: larger; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .section 
    margin-top
    border-top
    padding-top
    
    h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: var(--nav color);
    }
    
    .footer {
    justify-content: center;
    font
      }